body {
    margin: 0;
    padding: 0;
    background-color: #3A3A72;
    overflow-x: hidden;
}
.home-text {
    color: #FBFFEA;
    font-size: 6vh;
    margin-right: 20%;
    display: flex;
    align-content: center;
    top:5%;
    left:2%;
    position: absolute;
}


.title-text{
    color: #FBFFEA;
    font-size: 6vh;
    margin-right: 20%;
    display: flex;
    align-content: center;
    top:20%;
    left:3%;
    position: absolute;
}
.book-list-container {
    margin-top: 5%;
    position: relative;
    left: 23%;
}