body {
    margin: 0;
    padding: 0;
    background-color: #3A3A72;
}
.user-list {
    padding: 2%;
}
.user-form {
    padding: 2%;

}


.user-text {
    color: #FBFFEA;
    font-size: 6vh;
    margin-right: 20%;


}

.medium-user-text {
    color: #3A3A72;
    font-size: 3vh;
    margin-right: 20%;
}
.small-user-text {
    color: #3A3A72;
    font-size: 2vh;
    margin-left: 5%;
}
.user-container {
    width: 70%;
    /*width:fit-content;*/
    height: fit-content;
    background-color: #FBFFEA;
    border-radius: 5vh;
    /*display: flex;*/
    /*align-items: center;*/
    margin-bottom: 2%;
    padding: 2%;
    box-sizing: border-box;
}
.details-container {
    display: flex;
    color: #3a3a72;
    flex-wrap: nowrap;
    text-align: left;
    margin-top: 2%;
    padding: 2%;
    border: 1px solid #FBFFEA;
    border-radius: 5px;
    gap: 10%;
}
.details-container p {
    flex: 1;
    margin: 0;
}
.details-user{
    color: #FBFFEA;
    position: absolute;
    font-size: 3vh;
    font-weight: bold;
    margin-right: 0%;
    margin-left: 43%;
}
/*.remove-button{*/
/*    width: fit-content;*/
/*    position: relative;*/
/*    border-radius: 10px;*/
/*    background-color: #3a3a72;*/
/*    color: #fbffea;*/
/*    margin-top: 15px;*/
/*}*/

.remove-button{
    height: fit-content;
    width: 10.5%;
    position: relative;
    font-weight: bold;
    font-size: 3vh;
    border-radius: 5px;
    background-color: #3a3a72;
    color: #fbffea;
    margin-top: 15px;

    transform: translate(30%,-130%);
    margin-bottom: 2%;
}