.loanDateStart-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 30%;
    top: 30%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.loanPeriod-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 30%;
    top: 40%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.loanDateEnd-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 30%;
    top: 50%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.userId-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 55%;
    top: 30%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.bookId-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 55%;
    top: 40%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.success-message-loan{
    color: #FBFFEA;
    font-size: 2vh;
    margin-right: 20%;
    position: absolute;
    display: flex;
    align-content: center;
    top:48%;
    left:37%;
    transform: translate(75%,40%);
}

.add-loan-text {
    color: #FBFFEA;
    font-size: 6vh;
    margin-right: 20%;
    position: absolute;
    display: flex;
    align-content: center;
    top:5%;
    left:33.5%;
    transform: translate(75%,40%);
}

.add-loan-text3 {
    color: #FBFFEA;
    font-size: 6vh;
    margin-right: 20%;
    position: absolute;
    display: flex;
    align-content: center;
    top:5%;
    left:25%;
    transform: translate(75%,40%);
}

.add-loan-text2 {
    color: #FBFFEA;
    font-size: 2vh;
    margin-right: 20%;
    position: absolute;
    display: flex;
    align-content: center;
    top:35%;
    left:27%;
    transform: translate(75%,40%);
}

.add-loan-button {
    position: absolute;
    left: 48%;
    top: 55%;
    border-color: #FBFFEA;
    border-radius: 10px;

}
.error-message-loan{
    color: #FBFFEA;
    font-size: 2vh;
    margin-right: 20%;
    position: absolute;
    display: flex;
    align-content: center;
    top:48%;
    left:40%;
    transform: translate(40%,10%);
}