.loanDateStart-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 30%;
    top: 30%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.loanPeriod-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 30%;
    top: 40%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.loanDateEnd-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 30%;
    top: 50%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}
.loanDateEnd-input-update {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 43%;
    top: 40%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.userId-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 55%;
    top: 30%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.bookId-input {
    color: #3a3a72;
    background-color: #FBFFEA;
    position: absolute;
    left: 55%;
    top: 40%;
    border-color: #FBFFEA;
    height: 4%;
    width: 15%;
    border-radius: 5px;
}

.success-message-loan{
    color: #FBFFEA;
    font-size: 2vh;
    margin-right: 20%;
    margin-left: 5%;
    margin-top: 20%;
    position: absolute;
    display: flex;
    align-content: center;

    /*transform: translate(75%,40%);*/
}

.add-loan-text {
    color: #FBFFEA;
    font-size: 6vh;
    margin-right: 20%;
    position: relative;
    display: flex;
    align-content: center;
    top:5%;
    margin-left:3%;
    /*transform: translate(75%,40%);*/
}

.add-loan-text3 {
    color: #FBFFEA;
    font-size: 6vh;
    margin-right: 20%;
    position: absolute;
    display: flex;
    align-content: center;
    top:5%;
    left:25%;
    transform: translate(75%,40%);
}

.add-loan-text2 {
    color: #FBFFEA;
    font-size: 2vh;
    margin-right: 20%;
    position: absolute;
    display: flex;
    align-content: center;
    top:35%;
    left:27%;
    transform: translate(75%,40%);
}

.add-loan-button {
    position: relative;
    margin-top: 12%;
    margin-left: 45.2%;
    width: 10%;
    font-size: 3vh;
    font-weight: bold;
    color: #3a3a72;
    background-color: #FBFFEA;
    border-color: #FBFFEA;
    border-radius: 10px;

}
.error-message-loan{
    color: #FBFFEA;
    font-size: 2vh;
    margin-right: 20%;
    margin-left: 5%;
    margin-top: 20%;
    position: absolute;
    display: flex;
    align-content: center;
}
.input[type="date"] {
    color: grey;
}

.input[type="date"]:focus {
    color: black;
}


.choose-loan{
    height: 5.7%;
    width: 30%;
    position: absolute;
    font-size: 2vh;
    border-radius: 5px;
    background-color: #FBFFEA;
    color: #3a3a72;
    margin-top: 2%;
    margin-left: 5%;
}