body {
    margin: 0;
    padding: 0;
    background-color: #3A3A72;
}
.Login-form{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.Login-form-text{
    color: #FBFFEA;
    font-size: 6vh;

    /*transform: translateX(27%);*/
}
.Login-form-input{
    background-color: #FBFFEA;
    color:#3A3A72;
    position: relative;
    border-radius: 10px;
    /*transform: translateX(-50%);*/
    width: 40%;
    margin-bottom: 15%;

}
.Login-form-input {
    background-color: #fbffea;
    color: #3a3a72;
    position: relative;
    border-radius: 10px;
    width: 40%;
    margin-bottom: 15%;
}
.Login-button {
    width: fit-content;
    border-radius: 10px;
    background-color: #fbffea;
    color: #3a3a72;
    margin-top: 15px;
    transform: translate(230%,60%);
}