body {
    margin: 0;
    padding: 0;
    background-color: #3A3A72;
}
.Login-form{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.error-message-login {
    color: #FBFFEA;
    font-size: 2vh;
    margin-right: 20%;
    margin-left: 1.5%;
    margin-top: 20%;
    position: absolute;
    display: flex;
    align-content: center;
}
.Login-form-text{
    color: #FBFFEA;
    font-size: 6vh;
    position: relative;
    left:2%;
    /*transform: translateX(27%);*/
}
.Login-form-input{
    background-color: #FBFFEA;
    color:#3A3A72;
    position: relative;
    border-radius: 10px;
    transform: translateX(5%);
    width: 40%;
    margin-bottom: 15%;

}
.star{
    width: 60vw;
    height: 60vw;
    position: absolute;
    right: 0;
    top: 35%;
    z-index: -1;
    transform: translateY(-50%) rotate(180deg);
}
/*.Login-form-input {*/
/*    background-color: #fbffea;*/
/*    color: #3a3a72;*/
/*    position: relative;*/
/*    border-radius: 10px;*/
/*    width: 40%;*/
/*    margin-bottom: 15%;*/
/*}*/
.Login-button {
    width: 20%;
    /*display: flex;*/
    position: relative;
    border-radius: 10px;
    background-color: #fbffea;
    color: #3a3a72;
    margin-top: 15px;
    align-content: center;
    transform: translate(60%,20%);
}